html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -559px;
   float:left
}
div#container
{
   width: 994px;
   height: 1119px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #F5F5F5;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#TabMenu2
{
   text-align: left;
   float: left;
   margin: 0;
   width: 100%;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   list-style-type: none;
   padding: 15px 0px 4px 10px;
   overflow: hidden;
}
#TabMenu2 li
{
   float: left;
}
#TabMenu2 li a.active, #TabMenu2 li a:hover.active
{
   position: relative;
   font-weight: normal;
   text-decoration: none;
   z-index: 2;
}
#TabMenu2 li a
{
   padding: 5px 14px 8px 14px;
   margin-right: 3px;
   text-decoration: none;
   border-bottom: none;
   position: relative;
   top: 0;
   -webkit-transition: 200ms all linear;
   -moz-transition: 200ms all linear;
   transition: 200ms all linear;
}
#TabMenu2 li a:hover
{
   font-weight: normal;
   text-decoration: none;
   top: -4px;
}
#TabMenu2
{
   border-bottom: 1px solid #C0C0C0;
}
#TabMenu2 li a.active, #TabMenu2 li a:hover.active
{
   background-color: #FFFFFF;
   color: #666666;
}
#TabMenu2 li a
{
   border: 1px solid #C0C0C0;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   background-color: #EEEEEE;
   color: #666666;
}
#TabMenu2 li a:hover
{
   background: #C0C0C0;
   color: #666666;
}
#wb_Form1
{
   background-color: #87CEFA;
   background-image: none;
   border: 0px solid #CCCCCC;
}
#Background
{
   background-color: #FFFFFF;
   background-image: none;
   box-sizing: border-box;
}
#Logo
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#InlineFrame_home
{
   border: 1px solid #C0C0C0;
   margin: 0;
}
#wb_PanelMenu1 a, #PanelMenu1_markup li a
{
   display: block;
   text-align: center;
   vertical-align: middle;
}
#PanelMenu1_markup
{
   display: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_panel #PanelMenu1_markup
{
   display: block;
}
#PanelMenu1_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup li a, #PanelMenu1_markup li a:hover
{
   padding: 10px 10px 10px 10px;
   border-width: 0;
   border-bottom-width: 1px;
   border-radius: 0;
   box-shadow: none;
}
#PanelMenu1_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #2E2E2E;
}
#PanelMenu1_panel
{
   display: none;
   position: absolute;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#PanelMenu1_markup li a
{
   color: #F7F7F7;
   border: 1px solid #2E2E2E;
   background-color: #3E3E3E;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#wb_PanelMenu1 a
{
   color: #F7F7F7;
   border: 1px solid #FFFFFF;
   background-color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#PanelMenu1_markup li a:hover
{
   color: #F7F7F7;
   background-color: #484848;
   border: 1px solid #2E2E2E;
}
#wb_PanelMenu1 a:hover
{
   color: #F7F7F7;
   background-color: #FFFFFF;
   border: 1px solid #FFFFFF;
}
#PanelMenu1_panel
{
   background-color: #3E3E3E;
   overflow-y: auto;
}
#PanelMenu1
{
   padding-right: 48px;
}
#PanelMenu1:after
{
   position: absolute;
   top: 50%;
   right: 16px;
   width: 32px;
   height: 32px;
   margin-top: -16px;
   content: "";
   display: block;
   background-repeat: no-repeat;
   background-position: center center;
   background-image: url(images/manu.png);
}
#PanelMenu1
{
   line-height: 46px;
   width: 10px;
   height: 46px;
   position: absolute;
   z-index: 999;
}
#OverlayMenu1
{
   background-color: #424242;
   background-image: none;
   border: 0px solid #424242;
   margin: 0;
}
#OverlayMenu1:hover
{
   background-color: #CCCCCC;
   background-image: none;
   border-color: #424242;
}
#OverlayMenu1
{
   display: block;
   width: 42px;
   height: 40px;
   position: absolute;
}
#OverlayMenu1 .line
{
   width: 20px;
   height: 4px;
   background: #FFFFFF;
   display: block;
   margin: 4px auto;
}
#OverlayMenu1:hover .line
{
   background: #424242;
}
#OverlayMenu1 .line:first-child
{
   margin-top: 10px;
}
#OverlayMenu1-close
{
   background: transparent;
   font-size: 10px;
   height: 2.8em; 
   outline: none;
   position: absolute;
   right: 10px;
   text-align: left;
   top: 10px;
   width: 3em; 
}
#OverlayMenu1-close:before, #OverlayMenu1-close:after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   left: 0;
   opacity: 1;
   position: absolute;
   top: 0;
   width: 100%;
}
#OverlayMenu1-close span
{
   background: #FFFFFF;
   height: 0.6em;
   margin-top: -0.3em;
   position: absolute;
   top: 50%;
   -ms-transform-origin: 50% 50%;
   -webkit-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu1-close span::after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   position: absolute;
   -ms-transform-origin: 50% 50%;
   -webkit-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu1-close:before
{
   margin-top: -0.3em;
   opacity: 0;
   top: 50%;
}
#OverlayMenu1-close:after
{
   bottom: 50%;
   opacity: 0;
}
#OverlayMenu1-close span
{
   background: #FFFFFF;
   -ms-transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
}
#OverlayMenu1-close span:after
{
   background: #FFFFFF;
   -ms-transform: rotate(-90deg);
   -webkit-transform: rotate(-90deg);
   transform: rotate(-90deg);
}
#OverlayMenu1-overlay
{
   background-color: rgba(122,122,122,0.87);
   height: 100%;
   left: 0;
   overflow: hidden;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: -1;
}
#OverlayMenu1-overlay ul
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   list-style: none;
   margin: 0;
   padding: 0;
}
.OverlayMenu1
{
   position: relative;
   top: 50%;
   height: 60%;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   width: 100%;
   max-width: 970px;
   margin: 0 auto 0 auto;
}
.OverlayMenu1 a
{
   text-decoration: none;
}
.OverlayMenu1 ul
{
   list-style: none;
   padding: 0;
   text-align: center;
}
.OverlayMenu1 li 
{
   position: relative;
}
.OverlayMenu1 li a 
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   color: #FFFFFF;
   outline: none;
}
.OverlayMenu1 li a:hover 
{
   color: #424242;
   background-color: #CCCCCC;
}
#OverlayMenu1-overlay
{
   visibility: hidden;
   width: 0;
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
   transition: width 400ms 0.3s, visibility 0s 700ms;
}
#OverlayMenu1-overlay.show
{
   visibility: visible;
   width: 100%;
   -webkit-transition: width 400ms;
   transition: width 400ms;
}
#OverlayMenu1-overlay .OverlayMenu1
{
   position: absolute;
   left: 50%;
   -webkit-transform: translateY(-50%) translateX(-50%);
   transform: translateY(-50%) translateX(-50%);
   opacity: 0;
   -webkit-transition: opacity 0.3s 400ms;
   transition: opacity 0.3s 400ms;
}
#OverlayMenu1-overlay.show .OverlayMenu1
{
   opacity: 1;
   -webkit-transition-delay: 400ms;
   transition-delay: 400ms;
}
#OverlayMenu1-overlay.hide .OverlayMenu1
{
   -webkit-transition-delay: 0s;
   transition-delay: 0s;
}
.OverlayMenu1 li.drilldown-back > a 
{
   padding-left: 50px;
   background: rgba(0,0,0,0.1);
}
.OverlayMenu1 li.drilldown-back > a:hover
{
   background-color: #CCCCCC;
}
.OverlayMenu1 li.drilldown-back:after,
.OverlayMenu1 li > a:not(:only-child):after 
{
   position: absolute;
   top: 19px;
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 16px;
   border-left: 16px solid #FFFFFF;
   border-top: 14px solid transparent;
   border-bottom: 14px solid transparent;
   border-right: 0 dotted;
   content: " ";
}
.OverlayMenu1 li.drilldown-back:after 
{
   left: 16px;
   color: #FFFFFF;
   -webkit-transform: rotate(180deg);
   transform: rotate(180deg);
}
.$ID$ li.drilldown-back:hover:after,
.$ID$ li > a:not(:only-child):hover:after 
{
   border-left-color: #424242;
}
.OverlayMenu1 li > a:after 
{
   color: rgba(0,0,0,0.15);
   right: 10px;
}
.OverlayMenu1 .drilldown-menu 
{
   margin: 0;
   width: 100%;
}
.OverlayMenu1 li .drilldown-submenu 
{
   display: none;
}
.drilldown-menu.drilldown-subview li,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > a,
.drilldown-menu.drilldown-subview li.drilldown-subview > a 
{
   display: none;
}
.drilldown-menu.drilldown-subview li.drilldown-subview,
.drilldown-menu.drilldown-subview li.drilldown-subview .drilldown-submenu,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > .drilldown-submenu,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > .drilldown-submenu > li 
{
   display: block;
}
.OverlayMenu1 > .drilldown-submenu 
{
   left: 0;
   margin: 0;
   position: absolute;
   top: 50px;
   width: 100%;
}
#OverlayMenu1-overlay .overlay-icon
{
   margin: 0px 20px 0px 0px;
}
#wb_Form2
{
   background-color: #FBFBFB;
   background-image: none;
   border: 0px solid #CCCCCC;
}
#Editbox2
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 15px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Button3
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
}
#form2
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
}
#Editbox3
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 15px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox3:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Form4
{
   background-color: #87CEFA;
   background-image: none;
   border: 0px solid #CCCCCC;
}
#Button5
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
}
#Editbox4
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 15px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox4:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Form5
{
   background-color: #87CEFA;
   background-image: none;
   border: 0px solid #CCCCCC;
}
#Button6
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
}
#Editbox5
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 15px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox5:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Form3
{
   background-color: #87CEFA;
   background-image: none;
   border: 0px solid #CCCCCC;
}
#wb_Form6
{
   background-color: #87CEFA;
   background-image: none;
   border: 0px solid #CCCCCC;
}
#wb_PanelMenu2 a, #PanelMenu2_markup li a
{
   display: block;
   text-align: center;
   vertical-align: middle;
}
#PanelMenu2_markup
{
   display: none;
   margin: 0;
   padding: 0;
}
#PanelMenu2_panel #PanelMenu2_markup
{
   display: block;
}
#PanelMenu2_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#PanelMenu2_markup li a, #PanelMenu2_markup li a:hover
{
   padding: 10px 10px 10px 10px;
   border-width: 0;
   border-bottom-width: 1px;
   border-radius: 0;
   box-shadow: none;
}
#PanelMenu2_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #2E2E2E;
}
#PanelMenu2_panel
{
   display: none;
   position: absolute;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#PanelMenu2_markup li a
{
   color: #F7F7F7;
   border: 1px solid #2E2E2E;
   background-color: #3E3E3E;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#wb_PanelMenu2 a
{
   color: #F7F7F7;
   border: 1px solid #FFFFFF;
   background-color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#PanelMenu2_markup li a:hover
{
   color: #F7F7F7;
   background-color: #484848;
   border: 1px solid #2E2E2E;
}
#wb_PanelMenu2 a:hover
{
   color: #F7F7F7;
   background-color: #FFFFFF;
   border: 1px solid #FFFFFF;
}
#PanelMenu2_panel
{
   background-color: #3E3E3E;
   overflow-y: auto;
}
#PanelMenu2
{
   padding-right: 48px;
}
#PanelMenu2:after
{
   position: absolute;
   top: 50%;
   right: 16px;
   width: 32px;
   height: 32px;
   margin-top: -16px;
   content: "";
   display: block;
   background-repeat: no-repeat;
   background-position: center center;
   background-image: url(images/manu.png);
}
#PanelMenu2
{
   line-height: 46px;
   width: 10px;
   height: 46px;
   position: absolute;
   z-index: 999;
}
